/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@layer base {
    .lobster-regular {
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
  };
@layer utilities {
    .delay-100 {
       animation-delay: 100ms;
    }
    .delay-200 {
       animation-delay: 200ms;
    }
    /* Add more delay classes as needed */
   }
   
  